body { 
    height:100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: lightblue;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

.timer-container { 
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#time-display { 
    font-size: 5rem; 
    margin-bottom: 30px;
    font-style:bold;
}

.button-group button { 
    font-size: 1.2rem; 
    margin: 0 10px; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

#start {
    background-color: darkgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#pause {
    background-color: darkorange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


#reset {
    background-color: darkred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}